<%= render "shared/context_nav", title: t("activerecord.models.#{Produto.model_name.i18n_key}.other") do  %>
  <span class="breadcrumb-item"><%= link_to t("activerecord.models.#{Produto.model_name.i18n_key}.other"), produtos_path, class: "text-dark" %></span>
  <span class="breadcrumb-item active"><%= t("helpers.submit.#{params[:action]}") %></span>
<% end %>
<%= simple_form_for(@produto) do |f| %>
  <div class="card">
    <div class="card-header">
      <h5 class="my-0">
        <%= @produto.new_record? ? "Incluir " : "Editar " %><%= t("activerecord.models.#{Produto.model_name.i18n_key}.one") %>
      </h5>
    </div>
    <div class="card-body">
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="row">
        <div class="col-12 col-md-6">
          <%= f.input :nome, input_html: { class: "capitalize"}, placeholder: "Nome"  %>
        </div>
        <div class="col-12 col-md-6">
          <%= f.input :categoria_id, as: :select, collection: current_user.estabelecimentos.flat_map(&:categorias), label_method: :nome, value_method: :id, prompt: "Selecione uma categoria" %>
        </div>
        <div class="col-12 col-md-6">
          <%= f.input :quantidade_estoque, input_html: { class: "capitalize"}, placeholder: "Quantidade estoque"  %>
        </div>
        <div class="col-12 col-md-6">
          <%= f.input :preco, input_html: { class: "capitalize"}, placeholder: "Preco"  %>
        </div>
        <div class="col-12 ">
          <%= f.input :descricao, input_html: { class: "capitalize"}, placeholder: "Descricao"  %>
        </div>
        <div class="col-12">
          <%= f.input :ingredientes, input_html: { class: "capitalize"}, placeholder: "Ingredientes"  %>
        </div>
        <div class="col-12">
          <%= f.label :imagem %>
          <%= f.file_field :imagem, class: "form-control" %>
        </div>
      </div>
      <div class="card-footer">
        <%= btn_submit(f) %>
        <%= link_to "Voltar", produtos_path, class: "btn btn-light" %>
      </div>
    </div>
  <% end %>